.laneDetail {
    border-style: 'solid';
    width: '20%';
    margin: '10px';
    padding: '0px 10px 0px 10px';
}

.laneList {
    display: 'flex';
    flex-direction: 'row';
    flex-wrap: 'wrap';
}