.App {
  font-family: sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.content {
  margin-top: 0.5em;
  margin-left: 1.0em;
  margin-right: 1.0em;
  min-width: 0; 
  flex: 100%;
}

.side-column {
  flex: 0 0 200px;
  background-color: rgb(7, 24, 99);
}

.cad {
  white-space: pre-wrap;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

body {
  background-color: aliceblue;
}